
name: Hourly Health Check

on:
  schedule:
    - cron: "0 * * * *"   
  workflow_dispatch:      

jobs:
  health_check:
    runs-on: ubuntu-latest
    steps:
      - name: Check the deployed service URL
        uses: jtalk/url-health-check-action@v4
        with:
          url: https://phonebook-backend-13q6.onrender.com/health
          follow-redirect: false 
          max-attempts: 3
          retry-delay: 10s
          retry-all: true
       `
      